body {
  background-color: #D5DFFF;
  font-family: sans-serif;
  font-size: 18px;
  color: #0b0b11;
  font-family: 'Roboto', sans-serif;
}

#container {
  border: 5px solid #434445;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#review {
  background-color: #5A5B5C;
  color: #E3E3E3;
  padding: 10px;
  text-align: center;
}
#sidebar
{
text-align: inherit;
float: left;
width: 100px;
min-height: 220px;
padding: 20px;
background-color: grey;
text-align: center;
font-size: 14px;
}

#content
{

float: right;
padding: 40px;
width: 780px;
background-color: lightgrey;
min-height: 180px;
text-align: justify;
}

#footer
{

  clear:both;
  text-align: center;
  padding: 12px;
 font-size: 12px;
background-color: grey;
}

.option {
  float: left;
  min-width: 50px;
  height: 30px;
  font-size: 20px;
  padding: 8px;
  border-right: 2px dotted #104C7B;
}

.option:hover {
  background-color: #295578;
  color: white;
  cursor: pointer;
}

.optionL {
font-size: 18px;
height: 22px;
border-bottom: 1px dotted lightgrey ;
padding: 6px;
}

.optionL:hover {
background-color: orange;
  cursor: pointer;
    color: black;
}
